<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepanetta.thesis" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroToYourGenesActivity"
            android:label="@string/title_activity_intro_to_your_genes"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deepanetta.thesis.Main" />
        </activity>
        <activity
            android:name=".IntroToYourGenesQuestionnaireActivity"
            android:label="@string/title_activity_intro_to_your_genes_questionnaire"
            android:parentActivityName=".IntroToYourGenesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deepanetta.thesis.IntroToYourGenesActivity" />
        </activity>
        <activity
            android:name=".QuestionnaireResults"
            android:label="@string/title_activity_questionnaire_results"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deepanetta.thesis.Main" />
        </activity>
        <activity
            android:name=".Questionnaire"
            android:label="@string/title_activity_questionnaire"
            android:parentActivityName=".IntroToYourGenesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deepanetta.thesis.IntroToYourGenesActivity" />
        </activity>
        <activity
            android:name=".QuestionnaireActivity"
            android:label="@string/title_activity_questionnaire"
            android:parentActivityName=".IntroToYourGenesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deepanetta.thesis.IntroToYourGenesActivity" />
        </activity>
        <!--
        <activity
            android:name=".PunnettSquareIntro"
            android:label="@string/title_activity_punnett_square_intro"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deepanetta.thesis.Main" />
        </activity>
        -->


        <activity android:name="com.deepanetta.thesis.PunnettSquare"
            android:label="@string/title_activity_punnett_square"
            android:parentActivityName="com.deepanetta.thesis.Main">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deepanetta.thesis.Main" />
        </activity>
    </application>

</manifest>

